<h1><%= cryptid.name %></h1>
<h4>is an example of a</h4> <%= cryptid.type %>
<button><a href="/cryptid/edit/<%= cryptidIndex %>">EDIT</a></button>

<!-- <%= cryptid.name %> is a <%= cryptid.type %>.
<button><a href="/cryptid/edit/<%= cryptidIndex %>">Edit Dino</a></button> -->