<h1>Edit <%= dino.name %></h1>

<form method="POST" action="/dinosaurs/edit/<%= dinoIndex %>/?_method=PUT">
    
    <label for="name">NAME:</label>
    <input type="text" name="name" id="name" value="<%= dino.name %>">

    <label for="type">TYPE:</label>
    <input type="text" name="name" id="type" value="<%= dino.type %>">

    <input type="submit" value="Edit <%= dino.name %>">

</form>

<!-- <h1>Edit <%= dino.name %></h1>

<form method="POST" action="/dinosaurs/edit/<%= dinoIndex %>/?_method=PUT">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= dino.name %>">

  <label for="type">Type:</label>
  <input type="text" name="name" id="type" value="<%= dino.type %>">

  <input type="submit" value="Edit <%= dino.name %>">
</form> -->
